!!!
%head
  %title
    = data.page.title || 'Middleman Boilerplate'
    |
    = data.page.sitename


  = partial 'components/meta'
  = partial 'components/link'

  - if data.page.url.present?
    %link{href: (data.page.url + current_page.url), rel: 'canonical'}


  = stylesheet_link_tag 'all'
  = javascript_include_tag 'head'


  %body{class: page_classes}
    .off-canvas-wrap{data: { offcanvas: ''}}
      .inner-wrap
        %main.main{role: 'main'}
          = partial 'components/navigation'
          = yield
          = partial 'components/footer'

    = javascript_include_tag 'body', defer: true
